* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-size: 1rem;
  font-family: Raleway, serif;
  font-weight: 400;
  line-height: 24px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.header {
  height: 64px;
  display: flex;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.logo {
  font-size: 1.3rem;
  font-family: Raleway, serif;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

svg {
  width: 16px;
  height: 16px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  color: black;
}

.menu-bar {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.menu-list {
  list-style-type: none;
  text-decoration: none;
  color: #171515c2;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #17151595;
}

a:hover {
  color: #ffa600;
}

.register {
  width: 120px;
  padding: 0.5em;
  border: none;
  border-radius: 24px;
  font-family: Raleway, serif;
  font-weight: 700;
  color: #17151595;
  text-align: center;
}

.hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bg-black {
  background-color: #fff;
}

.content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.after-item-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.read-item {
  background-color: #fff;
  padding: 0.5em;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heading-four {
  background-color: #fff;
  padding: 0.5em;
  border-radius: 24px;
}

.sub-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5rem;
}

.heading-one {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #babab9;
  font-size: 1.5rem;
}

.supercharge {
  color: #000;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 2px 0;
  width: 100%;
}

.email {
  border: none;
  padding: 0.8em;
  border-radius: 24px;
  outline: none;
}

.btn {
  width: 124px;
  padding: 1em;
  border: none;
  border-radius: 24px;
  font-family: Raleway, serif;
  font-weight: 700;
  color: #fff;
  background-color: black;
  text-align: center;
}

.article-question-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-store,
.google-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 24px;
  padding: 0.2em 1.2em;
  color: #000;
}

.add {
  border: none;
  background-color: transparent;
}

#faq,
#download {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  gap: 1rem;
}

.heading-testimonial {
  padding: 0.5em;
}

#faq {
  padding: 0.5em;
}

.main {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
}

.container-one {
  width: 100%;
}

#download {
  background-color: #ffa500;
  color: #fff;
}

.download-container,
.asked-questions {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.app-buttons {
  display: flex;
  align-content: flex-start;
  justify-content: left;
  gap: 1rem;
  width: 100%;
}

.svg-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2rem;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content-image {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  margin-top: 40px;
}

.container-main {
  margin-top: 1rem;
}

.bg-orange {
  background-color: #fff507;
}

.content-image-one {
  width: 100%;
}

.heading-three {
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 1px;
}

.image-one,
.image-two,
.image-three {
  border-radius: 1rem;
}

.cta {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 24px;
  border: none;
}

.footer-a-text {
  color: #000;
  font-size: 1.5rem;
}

.footer-text {
  color: #000;
  font-size: 1rem;
}

.footer-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

.solutions {
  width: 100%;
}

.footer-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

#brand-logo {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
}

.footer-social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

#testimonial,
.testimonial-container {
  background-color: #f0f8ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#testimonial {
  padding-top: 16px;
}

.label-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.before {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 16px;
  background-color: #babab9b6;
}

.after {
  display: flex;
  gap: 1em;
  flex-direction: column;
  background-color: #babab9b6;
  padding: 1rem;
}

label {
  background-color: #fff;
  border-radius: 24px;
  padding: 0.5em;
  width: 100%;
}

.green {
  padding: 0.5em 1em;
  border-radius: 24px;
  background-color: #080;
}

.orange {
  padding: 0.5em 1.5em;
  border-radius: 24px;
  background-color: #ffa500;
}

.orange-item {
  width: 16px;
  height: 16px;
  border-radius: 24px;
  background-color: #ffa500;
}

.read-day {
  background-color: dodgerblue;
  padding: 0.3em 1em;
  border-radius: 24px;
}

.text {
  font-size: 12px;
}

.testimonial-container {
  margin: 1rem 0;
}

.testimonial-items {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0.5em;
  border-radius: 10px;
}

.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.paragraph-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 1rem;
    line-height: 24px;
  }

  .hero-image-box,
  img {
    width: 100%;
  }

  .footer-services {
    flex-direction: row;
    gap: 2rem;
  }

  .image-three,
  .image-two,
  .content-image-item {
    width: 100%;
  }
}

/* new */
@media screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .heading-item {
    width: 60%;
  }

  .heading-two {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .page-container {
    max-width: 100%;
  }

  section {
    margin-bottom: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .heading-one {
    width: 100%;
    margin-top: 2rem;
  }

  .footer-a-text {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
  }

  .heading-testimonial {
    margin-top: 2rem;
  }

  .content-image {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .content {
    height: 370px;
    padding: 0 0.5rem;
  }

  label {
    width: 40%;
  }

  .hero-image-box {
    object-fit: contain;
    height: 100%;
  }

  .image-box {
    width: 100%;
    height: 361px;
  }

  img {
    object-fit: cover;
    object-fit: contain;
  }

  .img-image {
    object-fit: cover;
    width: 100%;
    height: 360px;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .faq-container {
    margin-top: 2rem;
    padding: 1rem 0;
    flex-direction: row;
  }

  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0.5rem;
  }

  .download-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  #download {
    align-items: center;
    justify-content: center;
  }

  .app-buttons {
    align-items: center;
    justify-content: center;
  }

  .footer-container,
  .contact {
    padding: 0 0.5rem;
  }

  .main {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
  }

  .read-item {
    padding: 4rem;
  }

  article {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-family: Raleway, serif;
  }

  .content-box {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .paragraph-text {
    width: 60%;
    padding: 0.5em 0;
  }

  .container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-bar {
    justify-content: space-between;
    width: 100%;
  }

  .menu-bar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .menu-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #ffa600;
  }

  .menu-icon {
    display: none;
  }

  .heading-one {
    font-size: 2.8rem;
    line-height: 2rem;
    gap: 1.3rem;
  }

  .heading-item {
    font-size: 2.7rem;
    line-height: 40px;
  }

  .section-container {
    width: 85%;
    margin: auto;
  }

  .main {
    margin-top: 6rem;
  }

  .label-items {
    width: 70vw;
  }

  .before,
  .after {
    width: 50%;
  }

  .content-image-item {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .read-item {
    padding: 0.5rem;
    width: 100%;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-image {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    width: 82%;
    border-radius: 24px;
    padding: 1em 0.5em;
  }

  .testimonial-items {
    border-radius: 24px;
  }

  .page-hold {
    width: 80%;
    margin: auto;
  }
}
